page-all-users {
    ion-col.test {
        margin:0 0;
        width: 15%;
        position: relative;
        font-size: 11px;
        padding:0;
        margin-right:0px;
        //border: 1px solid grey;
      }

}
