.getting-started {
	.home-hello {
		position: relative;

		.hello-title {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			border: 0;
			background: #D71921 ;
			padding: 10px;
		}

		h1 {
			margin-top: 0;
			color: #D71921 ;
		}
	}

	.tile {
		.item {
			padding: 0;
			color: #D71921 ;
		}

		.item-inner {
			padding: 0;
			color: #D71921
		}

		h2 {
			text-align: center;
		}

		h1 {
			text-align: center;
			padding-bottom: 10px;
		}
	}

	ion-item-content {
		margin: 0;
	}

	.quick-action {
		width: 100%;
		ion-icon {
			font-size: 2em;
			width: 20px;
			color: #D71921
		}
		span {
			font-size: 1.6rem;
			padding-left: 10px;
			padding-top: -3px;
			vertical-align: text-bottom;
			color: #333333
		}
	}
}