<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle >
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Fyves SAP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="getting-started">
	<div class="home-hello">
		<img src="assets/imgs/home.png" />

<!--	<div class="hello-title" text-wrap>
			<h1>FYVES SAP</h1>
			Une nouvelle vision des affaires !
		</div>     -->
	</div>

	

	<ion-row *ngFor="let tilePair of tiles">
		<ion-col *ngFor="let tile of tilePair">
			<ion-card class="tile" (click)="navigateTo(tile)">
				<ion-card-content>
					<ion-item>
						<h1><ion-icon color="primary" [name]="tile.icon"></ion-icon></h1>
						<h2>{{tile.title}}</h2>
					</ion-item>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>



	<ion-row>
		<ion-card class="quick-action" (click)="callUs()">
			<ion-card-content>
				<ion-icon name="phone-portrait"></ion-icon>
				<span>Call us</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="opensendEmail()">
			<ion-card-content>
				<ion-icon name="mail"></ion-icon>
				<span>contact@fyvesconsulting.com</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="getDirections()">
			<ion-card-content>
				<ion-icon name="compass"></ion-icon>
				<span>Find us / Get directions</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="redirect()">
			<ion-card-content ng-href="https://www.facebook.com/Fyves-Consulting-2706747922686031/?ref=settings" onclick="window.open(this.href, _system ,location=yes);">
				<ion-icon name="logo-facebook"></ion-icon>
				<span>Visit us on Facebook</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

</ion-content>
